/* FONTS -------------------------------------------------------------------- */
@font-face {
    font-family: "bebasneue";
    src: url("../fonts/bebasneue/bebasneue.eot");
    src: url("../fonts/bebasneue/bebasneue.eot?#iefix") format("embedded-opentype"),
    url("../fonts/bebasneue/bebasneue.svg#bebasneue") format("svg"),
    url("../fonts/bebasneue/bebasneue.ttf") format("opentype"),
    url("../fonts/bebasneue/bebasneue.ttf") format("truetype"),
    url("../fonts/bebasneue/bebasneue.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@import url("../fonts/bebasneue/stylesheet.css");
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
/* BASIC -------------------------------------------------------------------- */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.5em;
    line-height: 2.7rem;
    font-weight: 400;
    font-family: "Roboto", "Tahoma", sans-serif;
    color: #b6b6b6;
}
.nav-desktop {
    display: none;
}
:focus {
    -moz-outline-style: none; outline-style: none
}
::-webkit-scrollbar {
    width: 10px; height: 10px
}
::-webkit-scrollbar-track {
    background: #f9f9f9; border-left: 1px solid #ddd
}
::-webkit-scrollbar-thumb {
    background: #ccc; border: 1px solid #bfbfbf
}
::selection {
  background: #FFCC00;
  color: #121212;
  }
::-moz-selection {
  background: #FFCC00;
  color: #121212;
}
img {
    max-width: 100% !important;
    height: auto;
    display: inherit;
    transition: all .2s ease-in-out;
}
img:hover {
    transform: scale(0.95);
}
/* TYPOGRAPHY --------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-family: 'bebasneue', 'Lato';
    color: #121212;
    font-style: italic;
}
h3:hover, h4:hover, h5:hover, h6:hover {
    text-shadow: 5px 5px 0px #FFCC00;
    transition: all .6s ease-in-out;
}
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.0rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }

p {
    margin-top: 0;
}
a {
    color: #121212;
    font-weight: bold;
    text-decoration: none;
}
/* HEADER ------------------------------------------------------------------- */
body > header {
    background-color: #FFCC00;
    padding: 0 10%;
    margin-bottom: 3rem
}
body > header > img {
    width: 37em;
    margin-bottom: 3rem;
    clear: both;
}
body > header > img:hover {
    transform: rotate(-5deg) scale(0.95);
}
body > header h1{
    display: inline-block;
    font-size: 2em;
    padding: 1rem 2rem;
    background: #121212;
    color: #fff;
    margin: 2rem 0;
    float: left;
    box-shadow: 0px 5px 0px 0px #ffffff;
    border-radius: 30px 30px 30px 30px;
    display: none;
}
body > header > form {
    padding-bottom: 2rem;
}
body > header > form > label {
    color: #000000;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    margin: 0 0rem 0 0;
}
body > header > form > button, body > header > p, .to-profile {
    display: none;
}
/* NAV ---------------------------------------------------------------------- */
header > nav {
    float:left;
    width:auto;
    margin-bottom: 2rem;
    background: #121212;
    padding: 1rem 0rem;
    box-shadow: 0px 5px 0px 0px #ffffff;
}
header > nav li {
    float:left;
    /*margin-right:3rem;*/
}
header > nav li a:hover {
    background: #ffffff;
    transition: all .5s;
}
header > nav li a {
    font-size:14px;
    font-weight:bold;
    color:#ffffff;
    text-transform:uppercase;
    padding: 1em;
}
header > nav li a:hover {
    color:#121212;
    text-decoration:none;
}
ul, li {
    list-style-type:none; padding:0; margin:0;
}
/* DIV ---------------------------------------------------------------------- */
div {
    padding: 0 10%;
    width: 100%;
    float: left;
    text-align: justify;
}
/* MAIN --------------------------------------------------------------------- */
main {
    margin-bottom: 2rem;
    border-bottom: 1px solid #eeeeee;
}
main section:last-child {
    margin-bottom: 2rem;
}
main picture img {
    width: 100%;
}
main h1 {
    display: inline-block;
    font-size: 2em;
    padding: 1rem 2rem;
    background: #121212;
    color: #fff;
    margin: 0 0 2rem 0;
    box-shadow: 0px 5px 0px 0px #ffbb00 ;
    border-radius: 30px 30px 30px 30px;
}
main h1:hover {
    color: #ffffff;
}
main section h3 {
    text-align: left;
}
main > article > section > ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
main footer {
    padding: 0;
    margin-bottom: 2rem;
}
main footer p {
    margin: 0;
}
main > footer a {
    color: #121212;
    font-weight: bold;
}
video {
    width: 100%;
}
main > article > footer {
    background-color: inherit !important;
    text-align: left !important;
}
/* RELATED ------------------------------------------------------------------ */
.related {
    display: inline-block;
}
.related article {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    margin-right: 2rem;
}
.related h2 {
    display: table;
    font-size: 2em;
    padding: 1rem 2rem;
    background: #121212;
    color: #fff;
    margin: 0 0 2rem 0;
    text-align: left;
    box-shadow: 0px 5px 0px 0px #ffbb00;
    border-radius: 30px 30px 30px 30px;
}
.related article h3 {
    text-align: left;
    font-size: 1.5em;
}
.related article header {
    margin-bottom: 2rem;
}
.related article header p {
    margin: 0;
}
.related ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
time {
    font-size: 0.9em;
    font-style: italic;
}
/* ASIDE -------------------------------------------------------------------- */
aside {
    padding: 0 10%;
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
}
aside section article {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 2rem;
}
aside section:last-child {
    margin-bottom: 2rem;
}
aside h3 {
    font-size: 1.5em;
}
aside > section > h2 > a {
    font-weight: normal;
    display: inline-block;
    padding: 1rem 2rem;
    background: #121212;
    color: #fff;
    margin: 0 0 2rem 0;
    transition: all .5s;
    box-shadow: 0px 5px 0px 0px #ffbb00;
    border-radius: 30px 30px 30px 30px;
}
aside footer {
    padding: 0;
    font-style: italic;
}
aside > section > article > footer {
    background-color: inherit !important;
}
/* FOOTER ------------------------------------------------------------------- */
footer {
    clear: both;
    padding: 0 10%;
    width: 100%;
    float: left;
    padding-top: 3rem;
}
footer div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}
footer:last-of-type {
    background-color: #121212;
    display: flex;
    flex-direction: column;
}
footer section {
    margin: 0 2rem 2rem 0;
}
footer section:last-child {
    margin-right: 0;
}
footer a {
    color: #b6b6b6;
    font-weight: normal;
}
footer h2 {
    color: #ffffff;
}
 #sitemap, #search, #contact {
    display: none;
}
#contact p {
    margin: 0;
}
input[type="submit"] {
    display: none !important;
}
/* DD DT DL ----------------------------------------------------------------- */
dt {
    font-weight: bold;
    color: #121212;
}
dd {
    font-style: italic;
    margin: 0;
}
/* FORMS -------------------------------------------------------------------- */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 3.8rem;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 0.4rem;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
}
textarea {
    min-height: 5rem;
    padding: 0.6rem 0;
    width: 100%;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #999999;
    outline: 0;
    color: #000000;
}
input[type="search"] {
    background-color: #FFFFFF;
    color: #d1d1d1;
    width: 100%;
    margin-top: 1rem;
}
label {
    display: block;
    margin-bottom: .5rem;
}
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: bold;
    color: #000000;
}
fieldset {
    padding: 0;
    border-width: 0;
    margin-right: 2rem;
    text-align: left;
}
fieldset em {
    color:#FF6565;
}
input[type="checkbox"],
input[type="radio"] {
    display: inline;
}
  ::-webkit-input-placeholder {
   color: #999999;
   font-weight: 300;
}
fieldset:nth-of-type(2) {
    padding-bottom: 2rem;
}
fieldset:nth-of-type(2) > input{
    float: left;
    margin-right: 2rem;
    position: relative;
    top: 0.8rem;
}
/* JAVASCRIPT --------------------------------------------------------------- */
.is-invisible{
    display: none;
}
.is-visible {
    display: block;
}
/* MEDIA QUERY -------------------------------------------------------------- */

/* For devices larger than 400px */
/*@media (min-width: 400px)*/
@media (min-width: 25em) {
    main {
        width: 100%;
        float: left;
    }
}

/* Larger than tablet */
/*@media (min-width: 752px)*/
@media (min-width: 47em) {
    div {
        float: left;
        width: 60%;
        padding: 0 0 0 10%;
        margin-right: 3%;
    }
    aside {
        float: left;
        width: 37%;
        padding: 0 10% 0 0;
    }
    #contact  {
        display: block;
    }
}

/* Larger than desktop */
/*@media (min-width: 976px)*/
@media (min-width: 61em) {
    header > nav ul li {
        float: left;
    }
    header > form {
        clear: both;
        padding: 0 0 2rem 0;
    }
    header > form > label {
        clear: both;
    }
    .nav-desktop {
        display: block;
    }
    .menu-btn {
        display: none;
    }
    .pushy {
        display: none;
    }
    body > header h1{
    display: block;
    }
    #search  {
        display: block;
    }
    footer div {
        background-color: #121212;
        display: flex;
        flex-direction: row;
    }
    footer section {
        width: 45%;
    }
}

 /*Larger than Desktop HD */
/*@media (min-width: 1440px)*/
@media (min-width: 90em) {
    div {
        float: left;
        width: 70%;
        padding: 0 0 0 10%;
        margin-right: 3%;
    }
    aside {
        float: left;
        width: 27%;
        padding: 0 10% 0 0;
    }
}
/*@media (min-width: 1920px)*/
@media (min-width: 120em) {
    #sitemap {
        display: block;
    }
}